body{
    background-color:rgb(135, 120, 115);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    


}


/*=====================header================================================*/

  
.navbar
{

    
   
    display: flex;
    
    
    justify-content: space-between;  /* controls left right axis */
    align-items: center;              
    background-color: black;
    border-radius: 15px;
    

}
      

.navbar ul
{
    list-style-type: none;
   
    gap: 25px;
    
    display: flex;
    align-items: center;/*controls top bottom axis*/
    
    
    


}
.navbar li
{
    white-space: nowrap;/* about us doesnt split up*/
    padding: 5px;
    
}

.navbar li a
{
     color: #FF7F01;
    font-family: irish grover;
    text-decoration: none;
}



.left
{
    display: flex;/*line up items auto*/
    gap: 25px;
    align-items: center;
    padding-left: 15px;

    
   
}


.right /*targets div and all properties applied here effect all elements in div like spacing ,how they are positioned*/
{
    
    
    display: flex;
   
    gap: 20px;/* space between icons */
    padding: 5px;/*content inside box doesnt touch edges*/
    margin-right: 15px;/*adds space to right of the whole element*/
    


   

}
.right img /*targets all img in right container so changes size of icons*/
{
    height: 32px;
    
}
.logo
{
    height: 40px;
    margin-left: 0;
}



/*=====================footer================================================*/

footer{
    position:relative;
    bottom: 0;
    background-color:rgb(0, 0, 0);
    height: 150px;
    width: 100%;
    color:#FF7F01;
   font-family:irish grover ;
   text-decoration: none;
   padding: 15px;
   




}

.foot-left
{

    color:#FF7F01;
   font-family:irish grover ;
   text-decoration: none;
   text-align: left;
}
.foot-right
{

   display: flex;
   justify-content: flex-end;
   flex-direction: column;
   position: absolute;
   top:50px;
   right:50px;

}
.foot-right a
{
    color:#FF7F01;
   font-family:irish grover ;
   text-decoration: none;
   text-align: right;




}
footer .copyright
{
    color:#FF7F01;
    font-family:irish grover ;
    position:absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    
    
}


.footlogo img
{
height: 90px;
width: auto;

}
.footlogo 
{
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

/*=========================ballers basket design============*/

.design 
{
    box-sizing: border-box;
    font-size: 250px;
    font-weight: bolder;
    font-family:Alfa Slab One;
    letter-spacing: -7px ;
    line-height: 0.9 ;
    background: url(basketballbackground.png) 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;

     position: absolute;
     top: 16%;
    left: 10%;
    transform: translate(-10%, -50%);
        text-align: center;
}

/*===========================all by us==========================*/
.design1
{
    position: relative;
    text-align: center;
    margin-top: 450px;
}

main{
    flex: 1;
}


*{
    box-sizing: border-box;
}
.column
{
    position:relative;/*text can move with it*/
    float:left;
    width:33.33%;
    
    
}

.row::after
{
content:"";
display:table;
clear:both;
}

.text
{
    top: 100px;
    left:50%;
    

color: white;

font-size: 40px;
text-align:center;
margin-top: 20%;

z-index: 10;/*bringing to front*/


}


