body {
  background-color: rgb(135, 120, 115);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

/*=====================header================================================*/

.navbar {
  display: flex;

  justify-content: space-between; /* controls left right axis */
  align-items: center;
  background-color: black;
  border-radius: 15px;
}

.navbar ul {
  list-style-type: none;

  gap: 25px;

  display: flex;
  align-items: center; /controls top bottom axis/
}
.navbar li {
  white-space: nowrap; /* about us doesnt split up*/
  padding: 5px;
}

.navbar li a {
  color: #ff7f01;
  font-family: irish grover;
  text-decoration: none;
}

.left {
  display: flex; /line up items auto/
  gap: 25px;
  align-items: center;
  padding-left: 15px;
}

/* Tablet styles */
@media (max-width: 1024px) {
  .design {
    font-size: 150px;
    top: 20%;
  }

  .navbar ul {
    gap: 15px;
  }

  .text {
    font-size: 30px;
  }
}

/* Mobile styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .left {
    flex-direction: column;
    padding-left: 0;
    gap: 10px;
  }

  .navbar ul {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  .right {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    margin-right: 0;
  }

  .right img {
    height: 28px;
  }

  .design {
    font-size: 80px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: -3px;
  }

  .design1 {
    margin-top: 300px;
    font-size: 14px;
  }

  .column {
    width: 100%;
    float: none;
  }

  .text {
    font-size: 25px;
    margin-top: 10%;
  }

  footer {
    height: auto;
    padding: 20px;
  }

  .foot-left {
    position: relative;
  }

  .foot-right {
    position: relative;
    top: auto;
    right: auto;
    margin-top: 20px;
  }

  .footlogo {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: 20px 0;
    text-align: center;
  }

  .footlogo img {
    height: 60px;
  }

  footer .copyright {
    position: relative;
    left: auto;
    transform: none;
    text-align: center;
    margin-top: 20px;
  }
}

/* Small mobile devices */
@media (max-width: 480px) {
  .design {
    font-size: 50px;
    letter-spacing: -2px;
  }

  .navbar li a {
    font-size: 14px;
  }

  .right img {
    height: 24px;
  }

  .logo {
    height: 30px;
  }

  .text {
    font-size: 20px;
  }

  .design1 {
    margin-top: 200px;
  }
}

.right img /targets all img in right container so changes size of icons/ {
  height: 32px;
}
.logo {
  height: 40px;
  margin-left: 0;
}
/*=====================footer================================================*/

footer {
  position: relative;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  height: 150px;
  width: 100%;
  color: #ff7f01;
  font-family: irish grover;
  text-decoration: none;
  padding: 15px;
}

.foot-left {
  color: #ff7f01;
  font-family: irish grover;
  text-decoration: none;
  text-align: left;
}
.foot-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 50px;
}
.foot-right a {
  color: #ff7f01;
  font-family: irish grover;
  text-decoration: none;
  text-align: right;
}
footer .copyright {
  color: #ff7f01;
  font-family: irish grover;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.footlogo img {
  height: 90px;
  width: auto;
}
.footlogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*=========================ballers basket design============*/

.design 
{
    box-sizing: border-box;
    font-size: 250px;
    font-weight: bolder;
    font-family:Alfa Slab One;
    letter-spacing: -7px ;
    line-height: 0.9 ;
    background: url(basketballbackground.png) 50% 50%;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;

     position: absolute;
     top: 16%;
    left: 10%;
    transform: translate(-10%, -50%);
        text-align: center;
}

/*===========================all by us==========================*/
.design1
{
    position: relative;
    text-align: center;
    margin-top: 450px;
}

main{
    flex: 1;
}


*{
    box-sizing: border-box;
}
.column
{
    position:relative;/*text can move with it*/
    float:left;
    width:33.33%;
    
    
}

.row::after
{
content:"";
display:table;
clear:both;
}

.text
{
    top: 60px;
    left:50%;
    

color: white;

font-size: 40px;
text-align:center;
margin-top: 20%;

z-index: 10;/*bringing to front*/


}


/*=============product detail page =============*/
